/wp-admin/*
/wp-content/languages/*
/wp-content/themes/*
/wp-content/upgrade/*
/wp-content/uploads/*
/wp-content/index.php
/wp-includes/*
/wp-*.php
/index.php
/license.txt
/readme.html
/xmlrpc.php

*.json
*.jpg
*.jpeg
*.png
*.woff
*.woff2